<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/css/global.css">
    <link rel="stylesheet" href="/resources/css/cita.css">
    <title>Cita</title>
</head>
<body>
    <header>
        <a href="/"><img src="/resources/assets/logo.png" alt="logo Refaccionaría y servicios Xpress"></a>
        <input type="checkbox" id="check">
        <label for="check" class="mostrar-menu">
            &#8801
        </label> 
         <nav class="menu">
            <a href="/">Inicio</a>
            <a href="/servicios">Servicios</a>
            <a href="/cita">Cita</a>   
            <a href="/productos">Productos</a>
            <a href="/nosotros">Nosotros</a>
            <a href="/contacto">Contacto</a>
        <label for="check" class="esconder-menu">
            &#215
        </label>
    </nav>
    </header>
    <div class="nombresec">
        <h1>Cita</h1>
    </div>
    <div class="container">
        <div class="mensaje">
            <h3>Si requiere una cita puede agendarla, o si bien ya tiene una puede consultarla con su id de cita</h3>
        </div>
        </div>

        <div class="opciones">
            <div class="agendar-consultar"><img src="/resources/assets/calendario.png" alt="calendario">
                <button id="rojo"><a href="/cita/agendar">Agendar cita</a></button></div>
            <div class="agendar-consultar"><img src="/resources/assets/lupa.png" alt="lupa">
                <button id="rojo"><a href="/cita/consultar">Consultar/Cancelar cita</a></button></div></div>
        </div>
    </div>


    
</body>
</html>


