<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/css/global.css">
    <link rel="stylesheet" href="/resources/css/cita.css">
    <title>Consultar </title>
</head>
<body style="overflow-x: hidden;">
    <header>
        <img src="/resources/assets/logo.png" alt="logo Refaccionaría y servicios Xpress">
        <input type="checkbox" id="check">
        <label for="check" class="mostrar-menu">
            &#8801
        </label> 
         <nav class="menu">
            <a href="/">Inicio</a>
            <a href="/servicios">Servicios</a>
            <a href="/cita">Cita</a>   
            <a href="/productos">Productos</a>
            <a href="/nosotros">Nosotros</a>
            <a href="/contacto">Contacto</a>
        <label for="check" class="esconder-menu">
            &#215
        </label>
    </nav>
    </header>
    <div id="containerConsultar" class="nombresec">
        <h1>Consulta o cancelación</h1>
    </div>
    <form id="formConsultar" action="/consultarInformacionCitas" method="get">
    <div class="campos">
        <div class="marco">
            <div class="input-consultar">
                <h4>Id</h4>
               <input name="num_Cita" id="num_Cita" type="text">
            </div>
            <div class="input-consultar">
                <h4>Correo electronico</h4>
               <input name="correo" id="correo" type="email">
            </div>
                <div class="boton">
                    <button id="rojo"><a>Consultar</a></button>
                </div>
          </div>
    </form>
    </div>

          <footer>
            <div class="contacto">
                <p>Contacto </p>
                <p>Telefono</p>
                <p>correo electronico</p>
            </div>
            <div class="redes">
                <p>Siguenos: </p>
                <img src="/resources/assets/facebook.png" alt="">
                <img src="/resources/assets/instagram.png" alt="">
                <img src="/resources/assets/twitter.png" alt="">
                <img src="/resources/assets/youtube.png" alt="">
            </div>
        </footer>
</body>

<script>
    document.getElementById('formConsultar').addEventListener('submit', function(event) {
        event.preventDefault();
        const num_Cita = document.getElementById('num_Cita').value;
        const correo = document.getElementById('correo').value;

        const url = `/consultarInformacionCitas?num_Cita=${encodeURIComponent(num_Cita)}&correo=${encodeURIComponent(correo)}`;
        console.log(url); // Verifica que la URL se genere correctamente


        fetch(url)
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Cita no encontrada');
                }
            })
            .then(data => {
                // Almacenar la información de la cita en sessionStorage
                sessionStorage.setItem('infoCita', JSON.stringify(data));
                // Redirigir a la página de detalles de la cita
                window.location.href = '/cita/consultar/registro';
            })
            .catch(error => {
                document.getElementById('containerConsultar').textContent = error.message;
            });
    });
</script>
</html>

