<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/css/global.css">
    <link rel="stylesheet" href="/resources/css/contacto.css">
    <title> Contacto</title>
</head>
<body>
    <header>
        <a href="/"><img src="/resources/assets/logo.png" alt="logo Refaccionaría y servicios Xpress"></a>
        <input type="checkbox" id="check">
        <label for="check" class="mostrar-menu">
            &#8801
        </label> 
         <nav class="menu">
            <a href="/">Inicio</a>
            <a href="/servicios">Servicios</a>
            <a href="/cita">Cita</a>   
            <a href="/productos">Productos</a>
            <a href="/nosotros">Nosotros</a>
            <a href="/contacto">Contacto</a>
        <label for="check" class="esconder-menu">
            &#215
        </label>
    </nav>
    </header>
    <div class="nombresec">
        <h1>Contacto</h1>
    </div>

    <div class="container">
        <div class="izquierda-contacto">
            <div class="inf-contacto">
                <img src="/resources/assets/telefono.png" alt="">
                <h5>238 141 3132 </h5> 
            </div>
            <div class="inf-contacto">
                <img src="/resources/assets/correo.png" alt="">
                <h5>joseflorente80@hotmail.com</h5> 
            </div>
            <div class="inf-contacto">
                <img src="/resources/assets/whatsapp.png" alt="">
                <h5>238 141 3132</h5> 
            </div>
            <div class="inf-contacto">
                <a href="https://www.facebook.com/profile.php?id=100057071901779"><img src="/resources/assets/facebook.png" alt=""></a>
                <h5>Refaccionaria Y Servicio De Motos Express</h5> 
            </div>
        </div>
        <div class="derecha-contacto">
                <h3>Ubicación</h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1061.8245981754164!2d-97.38983894356265!3d18.487612274056303!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85c5a36c361a4c63%3A0xacfb908028b6c287!2sServicio%20de%20motos%20y%20Refacciones%20Express!5e0!3m2!1ses-419!2smx!4v1722019164357!5m2!1ses-419!2smx" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</body>
</html>

