<!-- formulario_editar_producto.html -->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Editar Producto</title>
  <link rel="stylesheet" href="/resources/css/styles.css">
</head>
<body>
  <div class="contenedor">
    <div class="contenedor__img">
      <img style="background-color: transparent; border-style: none; cursor: pointer;" src="/resources/assets/cerrar.png" id="btn_regreso" class="contenedor__img--cierre">
    </div>
    <div><img src="/resources/assets/img1.png"></div>
    <div class="contenedor__items">
      <form id="editarProductoForm">
        <input type="hidden" id="idProducto" name="id_Producto">
        <label for="nombre_Produc">
          Producto:
          <input class="" type="text" placeholder="Producto" name="nombre_Produc" id="nombre_Produc" required>
        </label>
    </div>
    <div class="contenedor__items contenedor__items--2">
        <label for="desc_Produc">
          Descripcion:
          <input class="" type="text" placeholder="Descripcion" name="desc_Produc" id="desc_Produc">
        </label>
    </div>
    <div class="contenedor__items">
        <label for="precio">
          Precio:
          <input class="" type="number" placeholder="$" name="precio" id="precio" required>
        </label>
    </div>
    <div class="contenedor__items">
        <label for="id_Categoria">
          Categoria:
          <select name="id_Categoria" id="id_Categoria">
            <option value="1">Accesorio</option>
            <option value="2">Refacción</option>
          </select>
        </label>
    </div>
    <div class="contenedor__items">
        <label>
          Imagen:
          <input required type="file" name="imagen_producto" id="imagen_producto" accept="image/*" >
        </label>
    </div>
        <div>
          <button type="submit" class="button">Guardar</button>
        </div>
      
    
  </form>
   
  </div>

  <script>
    document.getElementById('btn_regreso').addEventListener('click', function() {
      window.location.href = '/utilidades_admin/vistacrud';
    });

    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const productId = urlParams.get('id');

    fetch(`/api/productos/${productId}`)
      .then(response => response.json())
      .then(producto => {
        document.getElementById('idProducto').value = producto.id_Producto;
        document.getElementById('nombre_Produc').value = producto.nombre_Produc;
        document.getElementById('desc_Produc').value = producto.desc_Produc;
        document.getElementById('precio').value = producto.precio;
        document.getElementById('id_Categoria').value = producto.id_Categoria;
        document.getElementById('url_Img').value = producto.url_Img;
      })
      .catch(error => console.error('Error:', error));

    document.getElementById('editarProductoForm').addEventListener('submit', function(event) {
      event.preventDefault();
      const formData = new FormData(this);

      fetch(`/productos/${productId}`, {
        method: 'PUT',
        body: formData
      })
      .then(response => response.json())
      .then(data => {
        if (data.message === 'Producto actualizado con éxito') {
          alert('Producto actualizado con éxito');
          window.location.href = '/utilidades_admin/vistacrud';
        } else {
          alert('Error al actualizar producto');
        }
      })
      .catch(error => console.error('Error:', error));
    });
  </script>
</body>
</html>
