<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/css/global.css">
    <link rel="stylesheet" href="/resources/css/inicio.css">
    <title>Inicio</title>
</head>
<body>
    <header>
        <a href="/"><img src="/resources/assets/logo.png" alt="logo Refaccionaría y servicios Xpress"></a>
        <input type="checkbox" id="check">
        <label for="check" class="mostrar-menu">
            &#8801
        </label> 
         <nav class="menu">
        <a href="/">Inicio</a>
        <a href="/servicios">Servicios</a>
        <a href="/cita">Cita</a>   
        <a href="/productos">Productos</a>
        <a href="/nosotros">Nosotros</a>
        <a href="/contacto">Contacto</a>
        <label for="check" class="esconder-menu">
            &#215
        </label>
    </nav>
    </header>

    <div class="presentacion">
        <div class="contenido">
        <h1>Refaccionaría y Servicios Xpress</h1>
        <h2>¡Tu moto al 100!</h2> 
        <button id="blanco"><a href="/cita">Agendar cita</a></button>
        </div>
    </div>
    <div class="nombresec">
        <h1>Nuestros productos</h1>
    </div>
        <div class="informacion">
            <img src="/resources/assets/inicioproducto.jpeg" alt="producto">
            <div class="descripción">
                <h3>Contamos con una gran variedad de productos para tu motocicleta</h3>
                <button id="rojo"><a href="/productos">Ver mas</a></button>
            </div>
        </div>
        <div class="nombresec">
            <h1>Nuestros servicios</h1>
        </div>
        <div class="informacion">

            <div class="descripción">
                <h3>Realizamos distintos servicios de mantenimiento correctivo y preventivo</h3>
                <button id="rojo"><a href="/servicios">Ver mas</a></button>
            </div>
            <img src="/resources/assets/servicios.jpeg" alt="">
        </div>


    <footer>
        <div class="contacto">
            <p>Contacto: </p>
            <p>Telefono:    238 141 3132</p>
            <p>Correo electrónico:    joseflorente80@hotmail.com</p>
        </div>
        <div class="redes">
            <p>Siguenos: </p>
           <a href="https://www.facebook.com/profile.php?id=100057071901779"><img src="/resources/assets/facebook.png" alt="logo facebook"></a>
           <a href="https://www.instagram.com/"><img src="/resources/assets/instagram.png" alt=""></a> 
           <a href="https://x.com/?mx=2"> <img src="/resources/assets/twitter.png" alt=""></a>
            <a href="https://www.youtube.com/"><img src="/resources/assets/youtube.png" alt=""></a>
        </div>
    </footer>
</body>
</html>

