<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/css/global.css">
    <link rel="stylesheet" href="/resources/css/nosotros.css">
    <title>Nosotros </title>
</head>
<body>
    <header>
        <img src="/resources/assets/logo.png" alt="logo Refaccionaría y servicios Xpress">
        <input type="checkbox" id="check">
        <label for="check" class="mostrar-menu">
            &#8801
        </label> 
         <nav class="menu">
            <a href="/">Inicio</a>
            <a href="/servicios">Servicios</a>
            <a href="/cita">Cita</a>   
            <a href="/productos">Productos</a>
            <a href="/nosotros">Nosotros</a>
            <a href="/contacto">Contacto</a>
        <label for="check" class="esconder-menu">
            &#215
        </label>
    </nav>
    </header>
    <div class="container">
        <div class="izquierda-nosotros">
            <div class="izim">
            <div class="imn"><img src="/resources/assets/t.jpeg" alt=""></div>
            <div class="imn"><img src="/resources/assets/t.jpeg" alt=""></div>
        </div>
        </div>
         <div class="derecha-nosotros">
       
           <h1>Nosotros</h1> 
       
        </div>
       
        </div>
        <footer>
            <div class="contacto">
                <p>Contacto </p>
                <p>Telefono</p>
                <p>correo electronico</p>
            </div>
            <div class="redes">
                <p>Siguenos: </p>
                <img src="/resources/assets/facebook.png" alt="">
                <img src="/resources/assets/instagram.png" alt="">
                <img src="/resources/assets/twitter.png" alt="">
                <img src="/resources/assets/youtube.png" alt="">
            </div>
        </footer>
</body>
</html>

