<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/css/global.css">
    <link rel="stylesheet" href="/resources/css/productos.css">
    <title>Productos </title>
</head>
<body>
    <header>
        <a href="/"><img src="/resources/assets/logo.png" alt="logo Refaccionaría y servicios Xpress"></a>
        <input type="checkbox" id="check">
        <label for="check" class="mostrar-menu">
            &#8801
        </label> 
         <nav class="menu">
            <a href="/">Inicio</a>
            <a href="/servicios">Servicios</a>
            <a href="/cita">Cita</a>   
            <a href="/productos">Productos</a>
            <a href="/nosotros">Nosotros</a>
            <a href="/contacto">Contacto</a>
        <label for="check" class="esconder-menu">
            &#215
        </label>
    </nav>
    </header>
    <div class="nombresec">
        <h1>Productos</h1>
    </div>
    <div class="container">
            <div class="izproduc">
                <div class="cards-container" id="productos-lista"></div>
            </div>
    </div>
    <footer>
        <div class="contacto">
            <p>Contacto: </p>
            <p>Telefono:    238 141 3132</p>
            <p>Correo electrónico:    joseflorente80@hotmail.com</p>
        </div>
        <div class="redes">
            <p>Siguenos: </p>
           <a href="https://www.facebook.com/profile.php?id=100057071901779"><img src="/resources/assets/facebook.png" alt="logo facebook"></a>
           <a href="https://www.instagram.com/"><img src="/resources/assets/instagram.png" alt=""></a> 
           <a href="https://x.com/?mx=2"> <img src="/resources/assets/twitter.png" alt=""></a>
            <a href="https://www.youtube.com/"><img src="/resources/assets/youtube.png" alt=""></a>
        </div>
    </footer>
    <div id="zoom-overlay" class="zoom-overlay">
        <img id="zoomed-image" class="zoomed-image" src="" alt="Imagen ampliada">
    </div>

    <script>
        fetch('/api/productos')
            .then(response => response.json())
            .then(productos => {
            const productosLista = document.getElementById('productos-lista');
            productos.forEach(producto => {
                const productoCard = document.createElement('div');
                productoCard.className = 'card';
                productoCard.innerHTML = `
                <img style="text-align: center;" src="${producto.url_Img}" alt="Imagen del producto">
                <h2>${producto.nombre_Produc}</h2>
                <p>Descripción: ${producto.desc_Produc}</p>
                <p>Precio: $${producto.precio}</p>
                `;
                productosLista.appendChild(productoCard);
            });

            // evento para mostrar la imagen en zoom
            document.querySelectorAll('.card img').forEach(img => {
                img.addEventListener('click', () => {
                    const zoomOverlay = document.getElementById('zoom-overlay');
                    const zoomedImage = document.getElementById('zoomed-image');
                    zoomedImage.src = img.src;
                    zoomOverlay.classList.add('visible');
                });
            });
            })
        .catch(error => console.error('Error fetching productos:', error));

        // Cierra el zoom
        document.getElementById('zoom-overlay').addEventListener('click', () => {
            document.getElementById('zoom-overlay').classList.remove('visible');
        });
    </script>
</body>
</html>
