<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/css/global.css">
    <link rel="stylesheet" href="/resources/css/cita.css">
    <title>Registro</title>
</head>
<body>
    <header>
        <img src="/resources/assets/logo.png" alt="logo Refaccionaría y servicios Xpress">
        <input type="checkbox" id="check">
        <label for="check" class="mostrar-menu">
            &#8801
        </label> 
         <nav class="menu">
            <a href="/">Inicio</a>
            <a href="/servicios">Servicios</a>
            <a href="/cita">Cita</a>   
            <a href="/productos">Productos</a>
            <a href="/nosotros">Nosotros</a>
            <a href="/contacto">Contacto</a>
        <label for="check" class="esconder-menu">
            &#215
        </label>
    </nav>
    </header>

    <div class="nombresec">
        <h1>Registro</h1>
    </div>
    <div class="container">
        <div class="izquierda-registro">
            <div> <h3>Nombre: </h3><h3>ejemplo</h3></div>
            <div> <h3>Correo electronico: </h3><h3>ejemplo</h3></div>
            <div> <h3>Fecha: </h3><h3>ejemplo</h3></div>
            <div> <h3>Hora: </h3><h3>ejemplo</h3></div>
        </div>
        <div class="derecha-registro">
            <div><h3>ID: </h3><h3>ejemplo</h3></div>
            <div> <h3>Servicio: </h3><h3>ejemplo</h3></div>
            <div><button id="rojo"><a href="#">Cancelar cita</a></button></div>

        </div>

    </div>

    <footer>
        <div class="contacto">
            <p>Contacto </p>
            <p>Telefono</p>
            <p>correo electronico</p>
        </div>
        <div class="redes">
            <p>Siguenos: </p>
            <img src="/resources/assets/facebook.png" alt="">
            <img src="/resources/assets/instagram.png" alt="">
            <img src="/resources/assets/twitter.png" alt="">
            <img src="/resources/assets/youtube.png" alt="">
        </div>
    </footer>

        

</body>
</html>


