::-webkit-scrollbar {
    display: none;
}
.izquierda-contacto{
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: rgb(217,50,50);
    margin: 0px 50px 50px 50px;   
    border-radius: 20px;
    padding: 0px 30px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.inf-contacto{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
  
    margin: 15px 0;
}
.inf-contacto img{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 80px;

}

.inf-contacto h5{
    font-size: 25px;
    color: white;
    padding-left: 20px;
    
}
.inf-contacto a {
text-decoration: none;
color: white;
}
a:hover{
    color: black;
}
.derecha-contacto{
    width: 40%;
    height: 55vh;
    background-color: rgb(217,217,217);
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    padding: 20px;
    justify-content: start;
    align-items: center;
    margin: 0px 50px 50px 50px;   
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;}

.derecha-contacto iframe{
    width:80%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.boton-chico{
    background-color: rgb(217,50,50);
    padding: 4px 20px;
    border-radius: 25px;
    margin-top: 10px;
    border:1px solid rgb(217,50,50);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
    transition: all 0.3s;
    color: white;
}

@media(max-width:800px){
 
    .container{
        flex-direction: column;
    }
    .izquierda-contacto{
        width: 50%;
        display: flex;
        flex-direction: column;

    
    }
    
    .inf-contacto{

        margin: 10px 0;
    }
    .inf-contacto img{
        width: 30px;
        height: 30px;
    
    }
    .inf-contacto h5{
        font-size: 20px;
        padding-left: 50px;
    }
    
    .derecha-contacto{
        width: 70%;
        height: 350px;
    
    }
    
    .derecha-contacto iframe{
        width:80%;
        height: 300px;

    }
}