::-webkit-scrollbar {
    display: none;
}/*.carousel {
    width: 100%;
    height: 60vh;
    overflow: hidden;

}

.carousel-container {
    display: flex;
    height: 100%;
}

.carousel-images {
    width: 100%;
    height: 100%;
    transition: transform 1s ease-in-out;
    z-index: -2;
}

.carousel-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

.carousel img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.presentacion {
   width: 100%;
}

.contenido {
    position:absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: -1;
    font-size: 35px;
}*/
.carousel {
    width: 100%;
    height: 60vh;
    overflow: hidden;
}

.carousel-container {
    display: flex;
    height: 100%;
}

.carousel-images {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 1s ease-in-out;
    z-index: -2;

}

.carousel-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

.carousel img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.presentacion {
    width: 100%;
    z-index: 1;
}

.contenido {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 35px;
}
#blanco {
    width: 200px;
    height: 50px;
    background-color: rgb(242,242,242);
    padding: 10px 10px;
    border-radius: 50px;
    margin-top: 40px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;    
   
}
#blanco a{
    font-size: 25px;
   color:rgb(217,50,50); 
   text-decoration: none;
}
#blanco:hover{
   transition: 0.8s;
}



.informacion {
    width: 80%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2% 10%;
    background-color: rgb(217, 217, 217);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
    .informacion img {
    width: 500px;
    height: 400px;
}

.descripción {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10% 5%;
}

.descripción h3 {
    font-size: 40px;
    text-align: center;
}

@media (max-width: 800px) {
    

    .informacion {
        width: 70%;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        margin: 10% 15%;
        padding:0;
    }
.descripcion {
        width: 100%;
        height: 60%;
        display: flex;
        padding: 0;
        flex-direction: row;
        justify-content: start;
        align-items: start;
    }
    .informacion img {
        width: 100%;
        height: 40%;
    }

    .descripción h3 {
       
        font-size: 20px;
        padding: 0%;
        text-align: left;
    }
    #blanco {
        width: 150px;
        height: 40px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;    
       
    }
    #blanco a{
        font-size: 15px;
       color:rgb(217,50,50); 
       text-decoration: none;
    }
    #blanco:hover{
       transition: 0.8s;
    }
    .carousel {
        width: 100%;
        height: 40vh;
        overflow: hidden;
    
    }
    
    .carousel-container {
        display: flex;
        height: 100%;
    }
    
    .carousel-images {
        width: 100%;
        height: 100%;
        transition: transform 1s ease-in-out;
        z-index: -2;
    }
    
    .carousel-images img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        flex-shrink: 0;
    }
    
    .carousel img {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    
    .presentacion {
       width: 100%;
    }
    
    .contenido {
        position:absolute;
        top: 35%;
        left: 35%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
        z-index: -1;
        font-size: 20px;
    }
}
