.carousel {
    width: 100%;
    height: 60vh;
    overflow: hidden;
}

.carousel-container {
    display: flex;
    height: 100%;
}

.carousel-images {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 1s ease-in-out;
}

.carousel-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

.carousel img {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.presentacion {
    position: relative;
}

.contenido {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 10;
}
#blanco {
    width: 200px;
    height: 50px;
    background-color: rgb(242,242,242);
    padding: 10px 10px;
    border-radius: 50px;
    margin-top: 40px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;    
   
}
#blanco a{
    font-size: 25px;
   color:rgb(217,50,50); 
   text-decoration: none;
}
#blanco:hover{
   background-color: rgb(217,50,50);
   transition: 0.8s;
}
#blanco a:hover{
   font-size: 30px;
   color:white; 
   text-decoration: none;
}
@media (max-width: 800px) {
    .carousel {
        height: 50vh;
    }
    .contenido {
        position: relative;
    }
    .contenido h1 {
        font-size: 45px;
        text-align: left;
    }
    .contenido h2 {
        font-size: 30px;
    }
    #blanco {
        width: 170px;
        height: 40px;
    }
    #blanco a {
        font-size: 15px;
    }
    #blanco a:hover {
        font-size: 15px;
    }
}

.informacion {
    width: 80%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2% 10%;
    background-color: rgb(217, 217, 217);
}

.informacion img {
    width: 500px;
    height: 400px;
}

.descripción {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
}

.descripción h3 {
    font-size: 40px;
    text-align: center;
}

@media (max-width: 800px) {
    .informacion {
        flex-direction: column;
    }

    .informacion {
        width: 60%;
        height: 550px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 2% 20%;
        background-color: rgb(217, 217, 217);
    }

    .informacion img {
        width: 470px;
        height: 350px;
    }

    .descripcion {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 95px;
    }

    .descripcion h3 {
        font-size: 20px;
        text-align: center;
    }
}
