::-webkit-scrollbar {
    display: none;
}
body { min-height: 100vh; }

.container-nosotros{
    display: flex;
    flex-direction: row;
}
.derecha-nosotros{
    width: 30%;
    display: flex;
    flex-direction: row;
    margin: 7% 5% ;

}
.derecha-nosotros img{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
}
.izquierda-nosotros{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 7% 0% ;
}
.izquierda-nosotros h1 {
    color: rgb(0, 0, 0);
    font-size: 50px;
}
.izquierda-nosotros p{
    width: 70%;
    padding-top:20px ;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 30px;
}



@media(max-width:800px){

    .container-nosotros{
        display: flex;
        flex-direction: column;
    }
   
    
    .izquierda-nosotros{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding: 50px 0px;   
    }
    .izquierda-nosotros h1 {
        color: rgb(0, 0, 0);
        font-size: 50px;
    }
    .izquierda-nosotros p{
        width: 80%;
        padding-top:20px ;
        color: rgb(0, 0, 0);
        text-align: center;
        font-size: 30px;
    } .derecha-nosotros img{
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: start;
        align-items: start;
    }
    .derecha-nosotros{
        width: 100%;
        display: flex;
        flex-direction: row;
    
    }

}