
::-webkit-scrollbar {
    display: none;
}

.catalogo{
    width: 100%;
    display: flex ;
    margin: 25px auto;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;

}


.boton{
    width: 100%;
    display: flex ;
    margin: 25px auto;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}

.descripcionservicio{
    width: 100%;
    height: 250px;
    background-color: rgb(217,217,217);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 20px 20px;

}
img{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.card {
    border-radius: 0px 0px 8px 8px ;
    width: 25%;
    height: 450px;
    margin: 16px;
    box-sizing: border-box;
    background-color:  rgb(217,217,217);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;}
.card h2 {
    margin-top: 0;
    padding: 16px;
}
.card p{
    padding: 5px 16px;
}
.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.card img {
    max-width: 100%;
    height: 200px;
    width:100%;
}
@media(max-width:800px){
    
    .catalogo{
        width: 100%;
        display: flex ;
        margin: 0px auto ;
        flex-direction: column;
    
    }
    
    button{
        margin-bottom: 30px;
    }

    .card {
        
        width: 45%;
        height: 450px;
    
    }
    
}