body {
  background-color: #fff;
  font-family: sans-serif;
  width: 100vw;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
textarea {
  width: 100%; /* Ajusta el ancho al 100% del contenedor */
  height: 100px; /* Ajusta la altura según tus necesidades */
  box-sizing: border-box; /* Incluye el padding y el border en el width y height */
}

label {
  font-size: 0.88em;
  line-height: 2;
}
img {
  width: 200px;
  height: 200px;
}
.contenedor {
  height: 80%;
  width: 1000px;
  background-color: #f2f2f2;
  margin-top: 0.5%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.contenedor_form{
 
  display: grid;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  margin-top: 0.5%;
  grid-template-columns: 50% 50%;
}
.items{
  width: 80%;
  height: auto;
  border: none;
  margin-left: 10px;
  background-color: #d9d9d9;
  display: grid;
  padding: 5px;
  margin: 5px 10% ;
  border-radius: 15px;
  grid-column: 1/2;
}
.items input {
  width: 65%;
  height: 100%;
  border: none;
  margin-left: 10px; 
  background-color: transparent;

}
#desc_Produc {
  height: 100px;
 
}
#desc_Servicio {
  height: 100px;

}
  .actual{
  width: 80%;
  height: 90%;
  border: none;
  margin: 0 5%;
  background-color: #d9d9d9;
  grid-column: 2/2;
  grid-row-start: 1;
    grid-row-end: 5;
}

.contenedor__img {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 50px;
  left: 50px;
}

.contenedor__img--cierre {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.button {
  background-color: rgb(221, 55, 55);
  color: white;
  margin-top: 20px;
  padding: 10px 30px;
  border-radius: 15px;
  transition: all 0.3s;
  cursor: pointer;
}

.items img {
  max-width: 2000px;
  height: auto;
  margin-top: 10px;
}

.actual img {
  max-width: 80%;
  height: 80%;
  margin: 2% 25%;
  display: block;
}

.button {
  background-color:  rgb(221, 55, 55);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
  font-size: 16px;
}

.button:hover {
  background-color: #45a049;
  transition: all 0.3s;
}
@media(max-width:600px){
  body {
    background-color: #fff;
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  img {
    width: 100px;
    height: 100px;
  }
  label {
    font-size: 0.80em;
    line-height: 2;
  }
  .contenedor {
    width: 90vw;
    background-color: #f2f2f2;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .contenedor__items {
    width: 80%;
    border: none;
    margin-left: 10px;
    background-color: #d9d9d9;
    display: flex;
    padding: 0px 10px;
    border-radius: 15px;
  }
  .contenedor__items input {
    height: 90%;
    border: none;
    margin-left: 10px;
    background-color: transparent;
  }
  .contenedor__img {
    width: 35px;
    height: 35px;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 25px;
    left: 25px;
  }
  .contenedor__img--cierre {
    width: 35px;
    height: 35px;
    object-fit: cover;
  }
  .button {
    background-color: rgb(221, 55, 55);
    color: white;
    margin-top: 20px;
    padding: 5px 30px;
    transition: all 0.3s;
    border-radius: 15px;
  }
  .button:hover {
    background-color:#000;
    color: #fff;
    margin-top: 20px;
    padding: 5px 30px;
    border-radius: 15px;
    cursor: pointer;
  }
}